name: E2E CI

on:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:latest
        options: --privileged

    steps:
    - uses: actions/checkout@v4
    - name: Install jq
      run: sudo apt update
    - name: Install jq
      run: sudo apt install -y jq
    - name: Run E2E tests
      run: |
        ./launch-test-env.sh -vcp 9999 -t 6

